<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886287792794-gs6o07ch6trcgd28i3imsj46kdid44lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886287792794-gs6o07ch6trcgd28i3imsj46kdid44lr</string>
	<key>API_KEY</key>
	<string>AIzaSyCOt_6oG9dbEx4tCKA7ZE7RbCncLHTnLvI</string>
	<key>GCM_SENDER_ID</key>
	<string>886287792794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RealTutor.leeyeon</string>
	<key>PROJECT_ID</key>
	<string>univ-ladder</string>
	<key>STORAGE_BUCKET</key>
	<string>univ-ladder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886287792794:ios:fd0ea6241d977e66ecbd23</string>
</dict>
</plist>