<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895762202310-eerandoqatibn3hmlr62lmi7jejo7jqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895762202310-eerandoqatibn3hmlr62lmi7jejo7jqn</string>
	<key>API_KEY</key>
	<string>AIzaSyDPrHFwl1puuwA0_avfLQIU0m1rwJ5IKFo</string>
	<key>GCM_SENDER_ID</key>
	<string>895762202310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.univladder.UnivLadder</string>
	<key>PROJECT_ID</key>
	<string>univladder-1856b</string>
	<key>STORAGE_BUCKET</key>
	<string>univladder-1856b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:895762202310:ios:632e7075fafbcb9ddde1c7</string>
</dict>
</plist>
